body {
  background-image: url('https://newmibridges.michigan.gov/resource/1657970840000/ISD_Icons/landing-page/group-3.svg');
  /*https://newmibridges.michigan.gov/resource/1657970840000/ISD_Icons/landing-page/group-3.svg*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fa-anchor,
.fa-coffee {
  font-size: 300;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.bg-white {
  background-color: white;
  padding: 0%;
}

#splash-description {
  font-size: 1.2em;
}
