body {
  background-image: url('../images/bg.svg');
  /*https://newmibridges.michigan.gov/resource/1657970840000/ISD_Icons/landing-page/group-3.svg*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.button {
  background-color: #bb0f00 !important;
  color: white !important;
}

.button:hover {
  background-color: #021b2e !important;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 1.5em;
  border-radius: 5px !important;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.bg-white {
  background-color: white;
  padding: 0%;
}

header {
  padding-top: 25vh !important; /*Overrides inline styling*/
}

#splash-title {
  font-size: 1.8em;
}

#splash-description {
  font-size: 1.4em;
}
