.center {
  text-align: center;
}

.left {
  text-align: left;
  margin-left: 0;
}

.right {
  text-align: right;
}

.top {
  padding-top: 2%;
}

ul {
  padding-top: 10px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 80vh;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.spacer {
  padding: 2%;
}

.complete {
  color: rgb(10, 170, 10);
}

.conflict {
  color: red;
}
