.buildplan {
  float: right;
  background-color: rgb(9, 159, 7);
  color: rgb(15, 79, 11);
  border: 2px solid #074309;
}


#course-list {
  padding-top: 10px;
}

li {
  color: #690fe4;
}

li:hover {
  color: #bb0ff9;
}

