.buildplan {
  float: right;
  background-color: #006e31;
}

#course-list {
  padding-top: 10px;
}

.sidebar {
  background-color: #021b2e;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}
#resources-head {
  color: white;
}

li {
  color: #d2c6c4;
}

li:hover {
  color: white;
}
