.nav {
  background-color: #021b2e;
  color: white;
}

.hover-accent:hover {
  background-color: #bb0f00;
  color: white;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  margin-left: 0;
}

.right {
  text-align: right;
}

.top {
  padding-top: 2%;
}

ul {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 80vh;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.spacer {
  padding: 2%;
}

.complete {
  color: rgb(10, 170, 10);
}

.conflict {
  color: #bb0f00;
  background-color: #bb0f00;
}

.btn-light {
  background-color: white;
  border-color: #021b2e;
  color: #021b2e;
}

.btn-dark {
  background-color: #021b2e;
  border-color: #021b2e;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  border-color: #021b2e;
  background-color: #bb0f00;
}

#profile {
  background-color: #6E879198;
  height: 85vh;
  overflow-y: none;
  box-shadow: -2px 0 5px 4px rgba(2, 27, 46, 18);
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}