#buildplan {
  float: right;
  background-color: #006e31;
  color: white;
}

#course-list {
  padding-top: 10px;
}

.sidebar {
  background-color: #d2c6c4;
  box-shadow: 10px 0 8px -2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
#resources-head {
  color: #021b2e;
}

li {
  color: #021b2e;
}

li:hover {
  background-color: #bb0f00;
  color: white;
  border-radius: 5px;
}

.sidebar a:hover {
  text-decoration: none !important;
}
